/* ProfCard.css */
.card {
    width: 300px;
    height: 450px;
    perspective: 1000px; /* Effet de perspective pour le retournement */
    cursor: pointer;
    margin: 10px;
  }
  /*
//CreatedAndDevelopedByWassimKhazri
//https://www.linkedin.com/in/wassim-khazri-ab923a14b/  
*/
  .card-front, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden; /* Cache l'arrière de la carte */
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.6s ease; /* Animation de retournement */
  }
  
  .card-front {
    background-color: #f8f9fa;
    transform: rotateY(0deg);
    display: flex;
  }
  
  .card-back {
    background-color: #dadde0;
    color: rgb(14, 13, 13);
    transform: rotateY(180deg); /* Carte retournée par défaut */
  }
  /*
//CreatedAndDevelopedByWassimKhazri
//https://www.linkedin.com/in/wassim-khazri-ab923a14b/ 
*/
  .card.flipped .card-front {
    transform: rotateY(180deg); /* Retourne la face avant */
  }
  
  .card.flipped .card-back {
    transform: rotateY(360deg); /* Retourne la face arrière */
  }

 