.polygon-container {
    display: flex;
    font-family: 'Arial Black', Arial, sans-serif;
    color: #2c3e50;
    background: linear-gradient(135deg, #f5f7fa 0%, #e4e8eb 100%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  /*
//CreatedAndDevelopedByWassimKhazri
//https://www.linkedin.com/in/wassim-khazri-ab923a14b/ 
  */
  .polygon-column {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
  }
  
  .polygon-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    font-family: 'Arial Black', Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
  }
  .polygon-item {
    width: 120px;
    height: 138px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    padding: 10px 15px;
    clip-path: polygon(
        50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%
    );
    background: #fff;
    color: #3498db;
    transition: all 0.3s ease;
  }
  
  .top-row {
    grid-row: 1;
    width: 150px;
  }
  
  .bottom-row {
    grid-row: 2;
    grid-column: span 1;
    width: 150px;
  }
  
  /* Centrer les 3 éléments de la deuxième rangée */
  .bottom-row:nth-child(5) {
    grid-column: 2;
  }
  .bottom-row:nth-child(6) {
    grid-column: 3;
  }
  .bottom-row:nth-child(7) {
    grid-column: 4;
  }
  
  .polygon-item:hover {
    background: #2980b9;
    border: 2px solid #db4734;
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }

  /*
  //CreatedAndDevelopedByWassimKhazri
//https://www.linkedin.com/in/wassim-khazri-ab923a14b/
  */