 
.card {
  position: relative;
  width: 200px;
  height: 150px;
  perspective: 1000px;
  cursor: pointer;
}
/*
//CreatedAndDevelopedByWassimKhazri
//https://www.linkedin.com/in/wassim-khazri-ab923a14b/
*/
.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.6s;
  border: 1px solid #ccc;
  padding: 16px;
  box-sizing: border-box;
  background-color: #fff;
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
}

.card.flipped .card-front {
  transform: rotateY(180deg);
}

.card.flipped .card-back {
  transform: rotateY(360deg);
}

.card-title {
  margin: 0;
  font-size: 1.2em;
  text-align: center;
}

.card-info {
  margin: 8px 0;
  font-size: 0.9em;
}

.card-info a {
  color: #007bff;
  text-decoration: none;
}

.card-info a:hover {
  text-decoration: underline;
}

/*
//CreatedAndDevelopedByWassimKhazri
//https://www.linkedin.com/in/wassim-khazri-ab923a14b/
*/