/* Couleurs principales */
/* :root {
  --primary-color: #0d3e5f;
  --accent-color: #ffcc00;
} */

/* AppBar */
.appbar {
  /* background-color: var(--primary-color) !important; */
  background-color: #001f4d !important;
}

.appbar-title {
  /*color: var(--accent-color) !important;*/
  color: #ffcc00 !important;
}

/* Sidebar */
.sidebar {
  width: 220px;
  /*background-color: var(--primary-color);*/
  background-color: #001f4d;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 16px;
  height: 100%;
}

/* Boutons */
.btn1 {
  /*background-color: var(--primary-color) !important;*/
  background-color: #001f4d !important;
  color: #ffcc00 !important;
  /*color: var(--accent-color) !important;*/
  margin-bottom: 12px !important;
  transition: all 0.3s ease;
}

.btn1:hover {
  /*background-color: var(--accent-color) !important;*/
  background-color: #ffcc00 !important;
  color: #001f4d !important;
  /*color: var(--primary-color) !important;*/
}

.btn1-active {
  /*background-color: var(--accent-color) !important;
  color: var(--primary-color) !important;*/
  background-color: #ffcc00 !important;
  color: #001f4d !important;
  margin-bottom: 12px !important;
}

/* Main Content */
.main-content {
  background-color: #f4f6f8;
  padding: 24px;
}
