.text-primary {
  color: #0d3e5f !important;
}

.card {
  border-radius: 15px;
  background: white;
  width: 100%; /* Force la carte à prendre toute la largeur du parent */
  border: none;
}

.animate-card {
  animation: fadeInOut 4s ease-in-out infinite;
  display: flex;
  justify-content: center;
  width: 100%; /* Important pour la largeur */
}

.hero1 {
  min-height: 100vh;
  height: auto;
  width: 100%;
  overflow-x: hidden; /* Empêche le scroll horizontal pendant l'animation scale */
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0.9;
    transform: scale(0.99); /* Effet très léger pour ne pas déformer */
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Ton animation hammerSwing est parfaite ! */
.animate-hammer {
  animation: hammerSwing 2s infinite ease-in-out;
  transform-origin: center;
}
@keyframes hammerSwing {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-20deg);
  }
}
