@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


* {
  box-sizing: border-box;
}

.auth-container {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
}

.auth-container h1 {
  font-weight: bold;
  margin: 0;
}

.auth-container h2 {
  text-align: center;
}

.auth-container p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.auth-container span {
  font-size: 12px;
}

.auth-container a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.auth-container button {
  border-radius: 20px;
  border: 1px solid #6196FE;
  background-color: #6196FE;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}

.auth-container button:active {
  transform: scale(0.95);
}

.auth-container button:focus {
  outline: none;
}

.auth-container button.ghost {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  color: #6196FE;
}

.auth-container form {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
  height: 100%;
  text-align: center;
}

.auth-container input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.auth-container .container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;   
  max-width: 100%;
  min-height: 480px;
}

.auth-container .form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.auth-container .sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.auth-container .container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.auth-container .sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.auth-container .container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.auth-container .overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.auth-container .container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.auth-container .overlay {
  background-image: url('../../images/ISET/sigles/inout.png');
  /* background-image: url('../../images/ISET/entreprise.png'); */
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 0;
  color: #FFFFFF;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.auth-container .container.right-panel-active .overlay {
  transform: translateX(50%);
}

.auth-container .overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.auth-container .overlay-left {
  transform: translateX(-20%);
}

.auth-container .container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.auth-container .overlay-right {
  right: 0;
  transform: translateX(0);
}

.auth-container .container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.auth-container .social-container {
  margin: 20px 0;
}

.auth-container .social-container button {
  border: 1px solid #DDDDDD;
  border-radius: 50%;
  background: transparent;
  padding: 10px 16px;
}

.auth-container .footer>p {
  font-size: 12px;
  color: #7989B1;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: -0.03em;
}

.auth-container .termsSection {
  margin-top: 5%;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #7A91AB;
}

.auth-container .termLink {
  color: #1C2604;
  text-decoration: underline;
}

.auth-container .error {
  color: red;
  font-size: 14px;
}

.auth-container #link-reset {
  border: none;
  background: transparent;
  color: grey;
  font-size: 10px;
  text-decoration: underline;
  font-style: italic;
  cursor: pointer;
}

.auth-container .mobile-elements {
  display: none;
}

.auth-container .iaiLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.auth-container .iaiLogo>img {
  width: 60%;
}

.auth-container .two-col-flex {
  display: flex;
  flex-direction: row;
  gap: 1em;
  width: 100%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .auth-container .container {
    min-height: 680px;
  }
  
  .auth-container .mobile-elements {
    display: block;
  }
  
  .auth-container .overlay-container {
    display: none;
  }

  .auth-container .form-container {
    margin-top: 3rem;
  }

  .auth-container .mobile-sign-up-btn {
    display: block;
  }

  .auth-container .mobile-login-up-btn {
    display: block;
  }

  .auth-container .form-container {
    width: 100%;
  }
  
  .auth-container .move-to-top-mobile {
    z-index: 5;
  }
}